* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins;
}
*::selection {
  color: white;
  background-color: #fff;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  background-color: #fff;
}
#home {
  width: 100%;
  min-height: 100%;
  color: #fff;
  background-color: #000;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}
.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  background-position-x: 100px;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}
#nav #logo {
  font-size: 25px;
}
#nav #right {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  gap: 20px;
}
#nav a {
  color: #fff;
}
#home #homemain {
  width: 100%;
  padding: 15vw;
}
#homemain h1 {
  font-size: 1.5vw;
  letter-spacing: -1px;
  font-weight: 400;
}

#homemain #name span {
  font-size: 2.5vw;
  font-weight: 500;
}
.headings {
  display: flex;
  gap: 40px;
}
#homemain .headings h1 {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 5vw;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
}
#homemain .headings h1:hover {
  color: #fff;
}
#homelast {
  padding: 5vw 15vw;
  background-color: #fff;
  color: #000;
}
#homelast p {
  width: 70%;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: -0.08vw;
}
#homelast p::selection {
  color: white;
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  #nav {
    height: 35px;
  }
  #homemain {
    height: 88vh;
  }
  #homemain #name .name {
    font-size: 30px;
  }
  #homemain .headings {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    gap: 25px;
    margin-top: 20px;
  }
  #homemain .headings h1 {
    font-size: 50px;
  }
  #homemain h1 {
    font-size: 20px;
  }
  #homelast p {
    padding-top: 10px;
    font-size: 15px;
    width: 90%;
  }
  #right a {
    visibility: hidden;
    color: #000;
    width: 100%;
    text-align: right;
    background-color: #e6e6e6;
    padding: 10px;
    gap: 0px;
  }
  #right i {
  }
  #right {
    flex-direction: column-reverse;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    align-items: flex-end;
  }
}
#featured {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10vw 15vw;
}
.bwave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('./black_wave.png');
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}
.bwave#bwave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}
.bwave#bwave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}
.bwave#bwave3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}
.bwave#bwave4 {
  z-index: 999;
  opacity: 0.7;
  background-position-x: 100px;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
.fheading h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
.fheading h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
#fprojects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 200vh;
  margin-top: 50px;
}
#fleft {
  width: 100%;
  height: 100%;
}
.fleftel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.fleftel h1 {
  font-size: 2.3vw;
  line-height: 1;
  margin: 1.5vw 0;
  font-weight: 400;
  text-transform: capitalize;
}
.fleftel h3 {
  font-size: 1.3vw;
}
.fleftel h4 {
  opacity: 0.5;
}
/* #fright {
  
} */
.desc {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.dbutton {
  padding: 10px 15px;
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-weight: 600;
}
.dbutton:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: inherit;
}
.image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.fbutton {
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fbutton button {
  padding: 1vw;
  border-radius: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-weight: 600;
}
.fbutton button:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
#dev {
  padding: 5vw 16vw;
}
#dev h1 {
  font-size: 3vw;
  font-weight: 400;
  width: 50%;
}
#dev p {
  margin-top: 2.5vw;
  font-weight: 400;
  width: 60%;
  font-size: 1vw;
}
#slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5vw 10vw;
}
#slides .slide {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.slide .image {
  width: 100%;

  height: 200px;
}
.slide .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.slide .tag {
  margin: 20px 5px;
  background-color: #e6e6e6;
  width: fit-content;
  padding: 10px 22px;
  border-radius: 100px;
}
.slide h3 {
  font-weight: 400;
  padding: 0 5px;
  letter-spacing: -1px;
}
@media only screen and (max-width: 600px) {
  .wave {
    height: 50px;
  }
  #featured h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #featured {
    padding: 25px;
  }

  #fleft .desc h1 {
    font-size: 20px;
  }
  #fleft .desc h4 {
    font-size: 12px;
  }
  #fleft .image img {
    height: 70%;
    width: 90%;
  }
  .fbutton {
    margin-bottom: 80px;
    margin-top: -20px;
  }
}
#skills {
  padding: 10vw 15vw;
  background-color: #000;
  position: relative;
  color: #fff;
}
#skills h1::selection {
  color: black !important;
  background: #fff !important;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('./white_wave.png');
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}
.wave#wave5 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}
.wave#wave6 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}
.wave#wave7 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 200px;
}
.wave#wave8 {
  z-index: 999;
  opacity: 0.7;
  background-position-x: 100px;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
#skills .heading h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
#skills .heading h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
#skillelements {
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  flex-wrap: wrap;
  gap: 30px;
}
#skillelements .skillel {
  padding: 20px;
  width: 30%;
  height: 300px;
  text-align: center;
}
.skillel img {
  width: 90%;
  height: 150px;
  object-fit: contain;

  filter: grayscale(100%);
}
.skillel p {
  text-align: center;
  letter-spacing: -1px;
  margin: 5px auto;
  font-weight: 500;
  visibility: hidden;
}
.skillel img:hover {
  filter: contrast(100%);
}
@media only screen and (max-width: 600px) {
  #skills {
    padding: 20px;
  }
  #skills .heading h1 {
    font-size: 30px;
    margin: 25px;
  }
  #skillelements {
    gap: 10px;
  }
  .skillel p {
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
  }
  #skillelements {
    margin-bottom: 50px;
  }
  #skillelements .skillel {
    height: 200px;
  }
}
#contact {
  width: 100%;
  height: 100vh;
  padding: 5vw 15vw;
  background-color: #fff;
}
#contact .heading h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
#contact .heading h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
  padding: 20px 0;
}
#contact textarea,
input {
  width: 30vw;
  height: 3vw;
  padding: 10px;
  font-size: 1.2vw;
}
#contact textarea {
  height: 6vw;
}
#contact textarea,
input:focus {
  outline: none;
}
#contact button {
  padding: 1vw 2vw;
  border-radius: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  font-weight: 600;
}
#contact button:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
@media only screen and (max-width: 600px) {
  #contact {
    padding: 20px;
  }
  #contact .heading h1 {
    font-size: 30px;
    margin: 25px;
  }
  #contact form {
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    height: 70%;
    gap: 30px;
  }
  #contact textarea,
  input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
  }
}
#about {
  padding: 10vw 15vw;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
}
#about .heading h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
#about .heading h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.details {
  padding: 10vw 0;
  display: flex;
  justify-content: space-between;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.address h3 {
  font-weight: 400;
  font-size: 1vw;
  border-bottom: 2px solid #fff;
}
.address p {
  font-size: 0.8vw;
  color: lightgray;
  width: 200px;
}
.sociallinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.sociallinks div {
  width: 50px;
  height: 50px;
}
.sociallinks img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  #contact {
    padding: 20px;
  }
  #about .heading h1 {
    font-size: 30px;
  }
  .sociallinks {
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .sociallinks img {
    width: 35px;
    height: 35px;
    margin-top: 30px;
  }
  .details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .address {
    align-items: center;
    text-align: center;
  }
  .address h3 {
    font-size: 20px;
  }
  .address p {
    font-size: 16px;
  }
}
